<!DOCTYPE html>
<html>
<head>
  <%- include("partials/header.ejs") %>
  <title> Add a review </title>
</head>
<body>
  <header id="addReviewHead">
   <h1> Please add your review</h1>
  </header>
  <br>

  <div id="review">
    Restaurant: <%= resto.name %><br><br>
    
      <form action="/sendReview">
       <input type="hidden" name="nameR" value="<%= resto.name %>">
        Title:
      <input type="text" name="title">
      <br><br>
      Write your review:
       <input type="textarea" name="comment"><br><br>
      <button class="btn btn-primary">Add your review</button><br><br>
  </form>

  <% if (typeof(error) != "undefined") { %>
     <%= error %>
  <% } %>
    <form action="/goHome">
      <button class="btn btn-secondary">Come back on Home page</button>
    </form>
  </div>
  
  
    
</body>
</html>